html {
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
}





a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

.register {
    border: 1px solid hsl(0, 0%, 41%);
    border-radius: 20px;
    padding: .1px 4rem .1px 4rem;


}

ul {
    list-style: none;
}


header {
    width: 100%;
}

.container {
    width: 100%;

}

#burger-menu {
    width: 70%;
    right: 0;
    visibility: hidden;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: white;

}

.nav-list {

    margin-top: 5rem;
    padding-left: 1rem;
    height: 100vh;
    text-align: left;
    width: 70%;
    line-height: 3.5rem;


}

.log-in-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-icons {
    display: block;
    position: absolute;
    right: 1rem;
    top: 2rem;
    cursor: pointer;
    z-index: 1500;
}

.hamburger {
    margin-right: 0;

}

.close {
    visibility: hidden;
    margin-right: 2rem;

}


.sub-menu {

    visibility: hidden;
    /* display: none; */
    position: initial;
    max-height: 0;


}

#sub-menu-features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
}

#sub-menu-company {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.snap-logo {
    margin-left: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;

}

.screen-snap-logo {
    position: relative;
    top: -2.9rem;
    left: .5rem;
    /* visibility: hidden; */
}

#screen-menu-container {
    display: none;
}

.image {
    width: 100%;

}

.arrow-up {
    visibility: hidden;
    position: relative;
    left: -.9rem;
}

.content-container {
    margin-top: 5rem;
    /* margin-right: auto;
     margin-left: auto; */
    min-height: 784px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#features {
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}



.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
    /* max-width: 390px; */
    height: 45vh;
}

.text h1 {
    font-weight: 900;
    font-size: xx-large;
}



.learn-more {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 10px 20px 10px 20px;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.learn-more a {
    color: white;
}

.bottom-logos img {
    width: 5rem;

}

@media all and (min-width: 600px) {

    .hamburger,
    .close {
        display: none;
    }

    #burger-menu-container {
        display: none;
    }

    #screen-menu-container {
        display: flex;
        flex-direction: row;
        /* align-items: baseline; */

    }

    #screen-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 1rem;
    }

    .screen-nav-list {
        width: 25%;
        min-width: 25rem;
        /* margin-left: -2rem; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-left: 1rem;
    }

    .screen-nav-list  li {
        margin-right: 2rem;
        text-align: left;
        font-size: 1rem;
    }

   

    .screen-log-in-div {
        display: flex;

    }

    .screen-register {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .screen-snap-logo {
        position: initial;
        margin-left: .5rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .screen-sub-menu-features {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        /* margin-left: auto; */
        padding-right: 0;
        padding-left: 1rem;
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        height: 10rem;
        line-height: 1rem;
        box-shadow: 10px 10px 20px 1px;

        position: absolute;
        /* left: 1.8rem; */
        top: 4.5rem;
        visibility: hidden;
        left: 3rem;
        /* display: none; */
        z-index: 999;
    }

    .screen-sub-menu-company {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        /* margin-left: auto; */
        padding-right: 0;
        padding-left: 1rem;
        /* visibility: hidden; */
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        height: 7rem;
        line-height: 1rem;
        box-shadow: 10px 10px 20px 1px;

        position: absolute;
        /* left: 12rem; */
        top: 4.5rem;
        visibility: hidden;
        /* display: none; */
    }

   

    .screen-nav-list li a:hover {
        color: black;
        font-weight: bolder;
    }
    #features:hover {
        color: black;
    }

    .screen-log-in-div a:hover {
        color: black;
        font-weight: bolder;
    }
  

   


    /* header {
        display: flex;
        flex-direction: row;
        align-items: baseline;

    }



    #features {
        margin-right: 0;
    }



    #burger-menu {
        display: flex;
        width: 100%;
        top: 0;

        position: relative;

    }

    #burger-menu .nav-list {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 0;


        left: 0;

        width: 95%;
        height: 5rem;

    }


    .nav-list li {
        margin-right: 1rem;
    }

    .ul-nav {
        display: flex;

    } */

    /* #features:hover  #sub-menu-features {
       
        visibility: visible;
         border: 1px solid white;
         border-radius: 10px;
         background-color: white;
         height: 10rem;
         line-height: 1rem;
         box-shadow: 10px 10px 20px 1px  ;

         position: absolute;
     }
     #company:hover  #sub-menu-company {
       
       visibility: visible;
        border: 1px solid white;
        border-radius: 10px;
        background-color: white;
        height: 10rem;
        line-height: 1rem;
        box-shadow: 10px 10px 20px 1px  ;

        position: absolute;
    } */



    .screen-log-in-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 1.5rem;
    }

    .screen-register {
        border: 1px solid black;
        border-radius: 7px;
        padding: 3px 6px 3px 6px ;
    }

  

    .content-container {
        width: 100%;
        height: 100vh;
        max-width: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-around;
        top: 0;
        margin-bottom: 3rem;
    }

    .image {
        width: 40%;
        height: 60vh;
    }

  .text  {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      text-align: left;
      height: 80%;
      
  }

  .text h1 {
      font-size: 4rem;
  }

  .text p {
      font-size: 1.5rem;
  }

  .learn-more {
      font-size: 1rem;
  }
  .bottom-logos {
      width: 90%;
      display: flex;
      justify-content: space-between;
  }

  @media all and (min-width: 1000px) {
    .text h1 {
        font-size: 5rem;
    }

    .image {
        height: 80vh;
    }
  }